<ion-header>
    <ion-toolbar>
        <ion-title>
            About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Sleeyax</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Developer
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-item>
            <ion-label><ion-icon name="mail"></ion-icon>
                <a href="mailto:yourd3veloper@gmail.com">yourd3veloper@gmail.com</a>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label><ion-icon name="mail"></ion-icon>
                <a href="mailto:sleeyax@protonmail.ch">sleeyax@protonmail.ch</a>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label><ion-icon name="logo-github"></ion-icon>
                <a href="#" (click)="showSourceCode()">source code</a>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
