<ion-header>
    <ion-toolbar>
        <ion-title>
            Download file
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <form>
            <ion-item class="ion-margin-top">
                <ion-label class="ion-margin-end">Key:</ion-label>
                <ion-input [formControl]="keyFormControl" class="ion-margin-start ion-margin-end" type="text" placeholder="ABC123"></ion-input>
                <ion-button class="item-button" (click)="navFileInfo()" [disabled]="keyFormControl.invalid" color="primary">Fetch</ion-button>
            </ion-item>
            <ion-item *ngIf="!keyFormControl.valid" class="validation-msg">
                <p class="ion-color-danger">{{keyFormControl.errors.msg ? keyFormControl.errors.msg : 'Key contains invalid characters'}}</p>
            </ion-item>
        </form>
        <ion-item>
            <ion-label position="stacked"></ion-label>
            <ion-button color="primary" size="expand" (click)="scanQR()">scan QR code</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
