<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/tabs/tab2']" defaultHref="tabs/tab2" [text]="Back"></ion-back-button>
        </ion-buttons>
        <ion-title>File info</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="fileInfo; else loading">
        <ion-item>
           <strong>Name:</strong> {{fileInfo.name}}
        </ion-item>
        <ion-item>
            <strong>Size:</strong> {{fileInfo.size}}
        </ion-item>
        <ion-item>
            <strong>Downloads:</strong> {{fileInfo.downloads}} / {{fileInfo.max_downloads}}
        </ion-item>
        <ion-item>
            <strong>Last modified:</strong> {{fileInfo.last_modified}}
        </ion-item>
    </ion-list>
    <ng-template #loading><ion-spinner color="secondary"></ion-spinner></ng-template>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>
           <ion-button (click)="download()">Download</ion-button>
        </ion-title>
    </ion-toolbar>
</ion-footer>
