<ion-header>
    <ion-toolbar>
        <ion-title>
            Upload file
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="none">
        <form [formGroup]="uploadForm">
            <ion-item>
                <ion-label>Max downloads:</ion-label>
                <ion-input type="number" formControlName="maxDownloads"></ion-input><br>
            </ion-item>
            <ion-item *ngIf="!uploadForm.controls.maxDownloads.valid" class="validation-msg">
                <span class="ion-color-danger">Please enter a value between 0 and 999</span>
            </ion-item>
            <ion-item>
                <span class="ion-label">File:</span>
                <ion-input formControlName="filePath" type="text" disabled="true" value="{{fileObj ? fileObj.path : ''}}"></ion-input>
                <ion-button class="browse-btn" color="light" size="default" (click)="browse()">Browse</ion-button>
            </ion-item>
            <ion-item *ngIf="!uploadForm.controls.filePath.valid" class="validation-msg">
                <p class="ion-color-danger">{{uploadForm.controls.filePath.errors.msg}}</p>
            </ion-item>
        </form>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>
            <ion-button (click)="upload()" color="primary">Upload</ion-button>
        </ion-title>
    </ion-toolbar>
</ion-footer>
