ion-label, .ion-label {
  margin-right: 10px;
}
ion-input.ion-invalid {
  border: 1px solid var(--ion-color-danger);
}
.validation-msg {
  color: var(--ion-color-danger);
}
ion-title {
  text-align: center;
}
