<ion-header>
    <ion-toolbar>
        <ion-title>
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="none">
        <ion-item>
            <ion-label>Server</ion-label>
            <ion-input placeholder="URL" value="{{settings.server}}" [(ngModel)]="settings.server"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Toggle dark theme</ion-label>
            <ion-toggle (mousedown)="theme.toggle()" [(ngModel)]="settings.darkThemeEnabled"></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>
            <ion-button class="save-btn" expand="block" color="primary" margin-top (click)="settings.saveAll()">Save</ion-button>
        </ion-title>
    </ion-toolbar>
</ion-footer>
