<ion-header>
    <ion-toolbar>
        <ion-title>
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>Server</ion-label>
            <ion-input placeholder="URL" value="{{settings.server}}" [(ngModel)]="settings.server"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Toggle dark theme</ion-label>
            <ion-toggle color="primary" (mousedown)="theme.toggle()" aria-checked="{{settings.darkThemeEnabled" [(ngModel)]="settings.darkThemeEnabled"></ion-toggle>
        </ion-item>
        <ion-button expand="block" margin-top (click)="settings.saveAll()">Save</ion-button>
    </ion-list>
</ion-content>
