ion-item {
  --full-highlight-height: 0;
}
ion-input.ion-invalid {
  &.has-focus {
    border: 1px solid var(--ion-color-danger) !important;
  }
  border: 1px solid var(--ion-color-danger);
}
.validation-msg {
  color: var(--ion-color-danger);
}
a {
  text-decoration: none;
}
ion-footer {
  text-align: center;
}
ion-input.has-focus {
  border-bottom: 2px solid var(--highlight-color-focused);
}
